@import  './mixi.scss';

@for $i from 1 to 6 {
  .custome-#{nth($colorsValue, $i)} {
    color: nth($colors, $i)
  }
}
/* 编译后
.custome-0000ff {
  color: #0000ff;
}

.custome-008000 {
  color: #008000;
}

.custome-fa4f52 {
  color: #fa4f52;
}

.custome-20a0ff {
  color: #20a0ff;
}

.custome-00a597 {
  color: #00a597;
}
*/
  